@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
overflow-x: hidden;
overflow-y: hidden;
font-family: 'Georgia', serif; /* the old one -> 'Roboto', sans-serif */
background-color: #a66c48;
}





/*                                              Styling for main menu                                          */
body .top{ /*styling for top title */
  text-align: center;
  background-color: #b52032;
  color: #dbe4e2;
  font-size: 36px;
  border: none;
}
body .top .logo{ /*styling for the top logo*/
  width: 50px;
  position: absolute;
  top:10px; left: 830px;
}

/*                                           Pizza Original                                               */
.Original{
  position: absolute;          /*use this to move the whole box*/
  top:60px; left:150px;
  background-color:#ffffff;
  display:flex;
  padding: 50px 210px 50px 200px; 
  
  /*use this to increase/decrease box background color size of the box (first is for the top side of the box, 
  second is for the right side of the box, third is for the bottom of the box 
  and the last one if for the left side of the box)*/
}
body .menu .Original #PizzaOriginal{
  position: relative;
  right:150px;
  width: 200px; /*use this to increase/decrease the size of the picture inside the box*/
}
.menu .Original h3{
  position: absolute; top:-20; left:380px; /*use this to move the pizza name inside the box*/
  font-size: 35px;
}
.menu .Original a{
  padding-bottom: 0px;
  position: absolute; top: 100px; left:405px; /*use this to move add to cart button*/
  font-size: 40px;
  text-decoration: none;
}



/*              Pizza Black Angus             */
.BlackAngus{
  position: absolute;  /*use this to move the whole box*/
  top:320px; left:150px;
  background-color:#ffffff;
  display:flex;
  padding: 50px 210px 50px 200px; 
  
  /*use this to increase/decrease box background color size of the box (first is for the top side of the box, 
  second is for the right side of the box, third is for the bottom of the box 
  and the last one if for the left side of the box)*/
}
body .menu .BlackAngus #PizzaAngus{
  width: 200px; /*use this to increase/decrease the size of the picture inside the box*/
  position: relative;
  top:2px;
  right:150px;
  width: 200px;
}
.menu .BlackAngus h3{
  position: absolute; top:-20; left:350px; /*use this to move the pizza name inside the box*/
  font-size: 35px;
}
.menu .BlackAngus a{
  padding-bottom: 0px;
  position: absolute; top: 100px; left:405px; /*use this to move add to cart button*/
  font-size: 40px;
  text-decoration: none;
}     
/*              Pizza Marios' mama mia             */
.MamaMia{
  position: absolute; 
  top:61px; left:790px; /*use this to move the whole box*/
  background-color:#ffffff;
  display:flex;
  padding: 45px 96px 60px 290px;
  /*use this to increase/decrease box background color size of the box (first is for the top side of the box, 
  second is for the right side of the box, third is for the bottom of the box 
  and the last one if for the left side of the box)*/
}
body .menu .MamaMia #PizzaMia{
  position: relative;
  right:220px;
  width: 200px; /*use this to increase/decrease the size of the picture inside the box*/
}
.menu .MamaMia h3{
  position: absolute; top:-20px; left:340px; /*use this to move the pizza name inside the box*/
  font-size: 35px;
}
.menu .MamaMia a{
  position: absolute; top: 99px; left:390px; /*use this to move add to cart button*/
  text-decoration: none;
  font-size: 40px;
}
/*              Pizza Giga cheesy           */
.Cheesy{
  position: absolute; 
  top:321px; left:790px; /*use this to move the whole box*/
  background-color:#ffffff;
  display:flex;
  padding: 45px 170px 52px 214px;
  /*use this to increase/decrease box background color size of the box (first is for the top side of the box, 
  second is for the right side of the box, third is for the bottom of the box 
  and the last one if for the left side of the box)*/
}
body .menu .Cheesy #PizzaCheesy{
  position: relative; 
  right:145px;
  width: 200px; 
  height: 150px;
  
  /*use this to increase/decrease the size of the picture inside the box*/
}
.menu .Cheesy h3{
  position: absolute; top:-20px; left:340px; /*use this to move the pizza name inside the box*/
  font-size: 35px;
}
.menu .Cheesy a{
  position: absolute; top: 111px; left:390px; /*use this to move add to cart button*/
  font-size: 40px;
  text-decoration: none;
}



/*                                              Styling for login                                             */
body .login{
  position: absolute; 
  top:100px; left:565px; /*use this to move the whole box*/
  background-color:#b1b0b0c9;
  display:flex;
  padding: 34px 86px 30px 30px;
}

.login #loginText{
  position: relative;
  text-align: right;
}

.login #enterButton{
  position: relative;
  left:125px;


}
                                    


.rows{
  list-style: none;
  display: inline-block;
  margin: 5px;
}




/*                                              styling for each pizza's order menu                                              */

body .selecting{
  position: absolute; 
  border: 3px solid white;
  padding: 60px 60px;
  
  /* top:100px; left:440px; use this to move the whole box*/
  background-color:#d11212c9;
  /*display:flex;*/
  /* padding: 250px 89px 99px 40px; */
   /*use this to increase/decrease box background color size of the box (first is for the top side of the box, 
  second is for the right side of the box, third is for the bottom of the box 
  and the last one if for the left side of the box)*/
}

.wrapper_select{
display: flex;
width: 300px;
justify-content: space-between;
margin: 10px;
font-size: 25;}

body .Selecting #Comment{
  display: flex;
  width: 300px;
  height: 100px;
  justify-content: space-between;
  margin: 10px;
  font-size: 25;
}

.dropdown{
  width: 100px;
}

/* body .Selecting input[name="Comment"]{
  position: relative;
  left: 0.5px;
  bottom: 3px;
  height: 100px;
  width: 90px;
  
} */

body .Selecting [name="Confirm order"]{
  /*display: flex;*/
  font-family: 'Georgia', serif;
  width: 300px;
  /*justify-content: space-between;*/
  margin: auto;
  font-size: 25; 
  
}

/* body .Selecting [name="firstChoice"] {
  height: 20px;
  
  position: relative;
  bottom:157px;
  left:225px;
  
}
body .Selecting [name="secondChoice"] {
  height: 20px;
  width: 129px;
  position: relative;
  top: -103px;
  left:93px;
  
}
body .Selecting [name="thirdChoice"] {
  height: 20px;
  width: 129px;
  position: relative;
  top: -45px;
  right:40px;
  text-align: center;
}

body .Selecting [name="forthChoice"] {
  height: 20px;
  width: 129px;
  position: relative;
  top: 15px;
  right: 171px;
  text-align: center;
}

body .Selecting input[name="Quantity"]{
  position: relative;
  left: 130.5px;
  bottom: 3px;
  height: 30px;
  width: 34px;
  
} 


body .Selecting #Quantity{
  font-size: 26px;
  position: relative;
  top: 20px;
  left: 100px;
}


body .Selecting #Comment{
  font-size: 26px;
  position:relative;
  top: 15px;
  left:100px;
}

body .Selecting #label1{
  font-size: 30px;
  position: absolute;
  top:83px;
  left: 185px;
}
body .Selecting #label2{
  font-size: 26px;
  position: absolute;
  top:140px;
  left:130px;
  
}
body .Selecting #label3{
  font-size: 26px;
  position: absolute;
  top:199px;
  left:129px;
}
body .Selecting #label4{
  font-size: 26px;
  position: absolute;
  top:260px;
  left:129px;}
  
body .Selecting #enterButton{
 
  position: relative;
  top:100px;
  left:230px; 
  
} */