<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>{{Title}}</title>
        
    </head>
    <body>
        <div class = "top">
            Original 
        </div>
        <div class="Selecting">
            <form method="POST" > 
                <select name="select1"> 
                    <option value="None">Select crust size</option>
                    <option value="Med">(25cm)Medium</option>
                    <option value="lar">(35cm)Large</option>
                    <option value="extraLar">(40cm)Extra large</option>
                </select>

                <select name="select2"> 
                    <option value="None">Select ingredient</option>
                    <option value="Bacon">Grilled chicken</option>
                    <option value="Tuna">Chicken kebab</option>
                    <option value="Ham">Pineapple</option>
                </select>

                <select name="select3"> 
                    <option value="None">Select ingredient</option>
                    <option value="Bacon">Grilled chicken</option>
                    <option value="Tuna">Chicken kebab</option>
                    <option value="Ham">Pineapple</option>
                </select>

                <select name="select4"> 
                    <option value="None">Select ingredient</option>
                    <option value="Bacon">Grilled chicken</option>
                    <option value="Tuna">Chicken kebab</option>
                    <option value="Ham">Pineapple</option>
                </select>
                <p id="enterButton"><input type="submit" value="Confirm order"></p> 
            </form>           
                    
        </div>
            
    </body>
</html>