<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>🍽️ Mario's 🍽️</title>
        
    </head>
    <body>
        <div class = "top">
            🍕 Black Angus 🍕
        </div>
        <div class="move">
            <div class="Selecting">
                <div class="wrapper_select">
                <div id="label1">Size</div>
                <form method="POST">
                    <select name="firstChoice" class="dropdown"> 
                    <option value="None"></option>
                    <option value="Med">(25cm)Medium</option>
                    <option value="lar">(35cm)Large</option>
                    <option value="extraLar">(40cm)Extra large</option>
                    </select>
                </div>
    
                <div class="wrapper_select">
                <div id = "label2">Topping 1</div>
                    <select name="secondChoice" class="dropdown"> 
                    <option value="None"></option>
                    <option value="Bacon">Bacon</option>
                    <option value="Tuna">Tuna</option>
                    <option value="Ham">Ham</option>
                    </select>
                </div>
    
                <div class="wrapper_select">
                <div id = "label3">Topping 2</div>
                    <select name="thirdChoice" class="dropdown"> 
                    <option value="None"></option>
                    <option value="Mozzarella">Mozzarella</option>
                    <option value="Pineapple">Pineapple</option>
                    <option value="Cabanossi">Cabanossi</option>
                    </select>
                </div>
                
                <div class="wrapper_select">
                <div id = "label4">Topping 3</div>
                    <select name="forthChoice" class="dropdown"> 
                    <option value="None"></option>
                    <option value="Butter">Butter</option>
                    <option value="Kale">Kale</option>
                    <option value="Ilives">Ilives</option>
                    </select>
                </div> 
                    
                <div class="wrapper_select">
                <div id = "quantity">Quantity</div>
                    <select name="Quantity" class="dropdown">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    </select>
                </div>
                        <p id="Comment">Comment <input name="Comment"/></p> 
                        <p id="enterButton"><input type="submit" name ="Confirm order" value="Confirm order"></p> 
                </div>
            </form>
        </div>
            
    </body>
</html>