<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
        
    </head>
    <body>
        <div class = "top">
            Menu 
            <img  class="logo" src="static/CSS/images/il_570xN.1951978779_i9yu.jpg" alt="logo">
        </div>
        <div class="Menu">
                    <div class = "Original">
                    
                        <img id="PizzaOriginal" src="static/CSS/images/pizza.jpg" alt="photo of pizza">
                        <h3>Original</h3>
                        <a id="AddToCartOriginal" href="{{ url_for('original_index') }}">Add</a>
                        
                    </div>
                    
                
                    <div class = "BlackAngus">
                        
                        <img id="PizzaAngus" src="static/CSS/images/black-angus-yerevan.jpg" alt="photo of pizza">
                        <h3>Black Angus</h3>
                        <a href="{{ url_for('angus_index') }}">Add</a>
                    </div>

                    <div class = "MamaMia">
                        
                        <img id="PizzaMia" src="static/CSS/images/thumb-1920-645087.jpg" alt="photo of pizza">
                        <h3>Mama mia</h3>
                        <a href="{{ url_for('mama_index') }}">Add</a>
                    </div>

                    <div class = "Cheesy">
                        
                        <img id="PizzaCheesy" src="static/CSS/images/320966-cheese-pizza-wallpaper-high-quality-free-download-subwallpaper.jpg" alt="photo of pizza">
                        <h3>Giga Cheesy</h3>
                        <a href="{{ url_for('cheesy_index') }}">Add</a>
                    </div>
                    
        </div>
            
    </body>
</html>