<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="top">
        Welcome
    </div>
    <div class="login">
        <form action="" method="POST"> 
            <p id="loginText">Login <input name="login" /></p> 
            <p id="passwordText">Password <input name="password" /></p> 
            <p id="enterButton"><input type="submit" value="login"></p> 
        </form> 
    </div>
    
</body>
</html>